  <p>Kendo-TreeView Crud Operation</p>

  <div class="example-config">
      selected keys: {{selectedKeys.join(",")}}
    
    </div>
    <div class="example-config">
      Expanded key: {{expandedKeys.join(',')}}
    </div>
    <div>
      <button (click)="addNewNode(null)">Add Root Node</button>
      <button (click)="addNewNode(selectedNodeId)">Add Child Node</button>
      <button (click)="deleteSelectedNode()">Delete Selected Node</button>
    </div>

    <div *ngIf="isAddingNodeId === -1">
      <input 
        [(ngModel)]="tempNodeName"
        (blur)="addNewNode(null)"
        (keydown.enter)="addNewNode(null)"
        (keydown.escape)="cancelEditing()"
        placeholder="Enter new root node name"
      />
    </div>
  <kendo-treeview style="width: 300px"
  class="custom-treeview"
  [nodes]="Data"
  textField="name"
  idField="id"
  parentIdField="parentId"
  kendoTreeViewFlatDataBinding

  kendoTreeViewExpandable
  [(expandedKeys)]="expandedKeys"
  [expandOnFilter]="filterExpandSettings"

  kendoTreeViewDisable
  [expandDisabledNodes]="true"
  [disabledKeys]="disabledKeys"


  kendoTreeViewSelectable
  [(selectedKeys)]="selectedKeys"
  (selectionChange)="handleSelection($event)"

  kendoTreeViewDragAndDrop
  kendoTreeViewDragAndDropEditing
  (nodeDrop)="onNodeDrop($event)"
  (nodeClick)="onNodeClick($event, treemenu)"
  >
  <ng-template kendoTreeViewNodeTemplate let-dataItem>

<ng-container *ngIf="isEditingNodeId===dataItem.id;else displayNodes ">
  <input 
  [(ngModel)]="tempNodeName"
  (blur)="saveEditedName(dataItem)"
  (keydown.enter)="saveEditedName(dataItem)"
  (keydown.escape)="cancelEditing()" />

</ng-container>

<ng-template #displayNodes>
<span>{{dataItem.name}}</span>
</ng-template>

<div *ngIf="isAddingNodeId === dataItem.id"  >
  <input 
    [(ngModel)]="tempNodeName"
    (blur)="addNewNode(selectedNodeId)"
    (keydown.enter)="addNewNode(selectedNodeId)"
    (keydown.escape)="cancelEditing()"
    placeholder="Enter new node name"
  />
</div>

  
 </ng-template>
 <!-- <div *ngIf="isAddingNodeId === null">
  <input
    [(ngModel)]="tempNodeName"
    (blur)="addNewNode(null)"
    (keydown.enter)="addNewNode(null)"  
    (keydown.escape)="cancelEditing()"
    placeholder="Enter new root node name"
  />
</div> -->

  </kendo-treeview>
  <!-- [target]="'kendo-treeview'" 
  [target]="'.custom-treeview'" -->
    <kendo-contextmenu #treemenu
 
    (select)="onContextMenuSelect($event)">
    <kendo-menu-item text="Add Child Node"  [svgIcon]="plusIcon" [cssStyle]="{ backgroundColor: '#d3d3d3' }" ></kendo-menu-item>
    <kendo-menu-item text="Delete Node" [svgIcon]="trashIcon" [cssStyle]="{ backgroundColor: '#d3d3d3' }"></kendo-menu-item>
    <kendo-menu-item text="Add Root Node"  [svgIcon]="plusIcon"  [cssStyle]="{ backgroundColor: '#d3d3d3' }"></kendo-menu-item>
    <kendo-menu-item text="Update Node Name" [svgIcon]="editIcon" [cssStyle]="{ backgroundColor: '#d3d3d3' }" ></kendo-menu-item>
  
  </kendo-contextmenu>
  





  <div>
    <button class="btn btn-success" (click)="treeViewDragDrop()">TreeView Drag And Drop</button>
  </div>