  <p>Kendo-TreeView Crud Operation</p>

  <div class="example-config">
      selected keys: {{selectedKeys.join(",")}}
    
    </div>
    <div class="example-config">
      Expanded key: {{expandedKeys.join(',')}}
    </div>
    <div>
      <button (click)="addNewNode(null)">Add Root Node</button>
      <button (click)="addNewNode(selectedNodeId)">Add Child Node</button>
      <button (click)="deleteSelectedNode()">Delete Selected Node</button>
    </div>

  
  <kendo-treeview style="width: 300px"
  class="custom-treeview"
  [nodes]="Data"
  textField="name"
  idField="id"
  parentIdField="parentId"
  kendoTreeViewFlatDataBinding

  kendoTreeViewExpandable
  [(expandedKeys)]="expandedKeys"
  [expandOnFilter]="filterExpandSettings"

  kendoTreeViewDisable
  [expandDisabledNodes]="true"
  [disabledKeys]="disabledKeys"


  kendoTreeViewSelectable
  [(selectedKeys)]="selectedKeys"
  (selectionChange)="handleSelection($event)"

  kendoTreeViewDragAndDrop
  kendoTreeViewDragAndDropEditing
  (nodeDrop)="onNodeDrop($event)"
  (nodeClick)="onNodeClick($event, treemenu)"


  




  >
  <!-- <ng-template kendoTreeViewNodeTemplate let-dataItem>
    <span *ngIf="editNodeId !== dataItem.id" (dblclick)="startEditing(dataItem)" >
      {{dataItem.name}}
    </span>
    <input *ngIf="editNodeId==dataItem.id"
    [(ngModel)]="editNodeName"
    (blur)="saveNodeName(dataItem)"
    (keydown.enter)="saveNodeName(dataItem)"
    (keydown.escape)="cancelEditing()" 
    [filterable]="true"
  filterInputPlaceholder="Try with iph"
  (selectionChange)="handleSelection($event)"

    />


  [target]="'kendo-treeview'" 
     [target]="'.custom-treeview'"
  </ng-template> -->

      
  </kendo-treeview>

    <kendo-contextmenu #treemenu
 
    (select)="onContextMenuSelect($event)">
    <kendo-menu-item text="Add Child Node"  [svgIcon]="plusIcon" [cssStyle]="{ backgroundColor: '#d3d3d3' }" ></kendo-menu-item>
    <kendo-menu-item text="Delete Node" [svgIcon]="trashIcon" [cssStyle]="{ backgroundColor: '#d3d3d3' }"></kendo-menu-item>
    <kendo-menu-item text="Add Root Node"  [svgIcon]="plusIcon"  [cssStyle]="{ backgroundColor: '#d3d3d3' }"></kendo-menu-item>
    <kendo-menu-item text="Update Node Name" [svgIcon]="editIcon" [cssStyle]="{ backgroundColor: '#d3d3d3' }" ></kendo-menu-item>
  
  </kendo-contextmenu>
  







  <div>
    <button class="btn btn-success" (click)="treeViewDragDrop()">TreeView Drag And Drop</button>
  </div>