<link
  rel="stylesheet"
  href="https://unpkg.com/@progress/kendo-font-icons/dist/index.css"
/>
<div
  class="grids-container"
  kendoDragTargetContainer
  kendoDropTargetContainer
  dragTargetFilter=".k-master-row"
  dropTargetFilter=".k-master-row"
  [dragData]="dragData"
  [hint]="{ hintClass: 'rowHint' }"
  (onDrop)="onDrop($event)"

  style="display: flex; gap: 20px; justify-content: space-around;"
>
 
  <kendo-grid
    [data]="gridDataItem1"
    data-kendo-grid-index="0"
    style="width: 45%;"
  >
    <kendo-grid-column [width]="40">
      <ng-template kendoGridCellTemplate>
        <span class="k-icon k-font-icon k-i-reorder"
        kendoGridDragHandle
        ></span>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="productName" title="Product Name"></kendo-grid-column>
    <kendo-grid-column field="unitPrice" title="Price" [width]="80"></kendo-grid-column>
    <kendo-grid-column field="discontinued" title="In Stock" [width]="100">
      <ng-template kendoGridCellTemplate>
        <span class="k-badge k-badge-solid k-badge-solid-success k-badge-md k-rounded-md k-badge-inline">
          Available
        </span>
      </ng-template>
    </kendo-grid-column>
  </kendo-grid>

  <kendo-grid
    [data]="gridDataItem2"
    data-kendo-grid-index="1"
    style="width: 45%;"
  >
    <kendo-grid-column [width]="40">
      <ng-template kendoGridCellTemplate>
        <span class="k-icon k-font-icon k-i-reorder"
        kendoGridDragHandle>
      </span>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="productName" title="Product Name"></kendo-grid-column>
    <kendo-grid-column field="unitPrice" title="Price" [width]="80"></kendo-grid-column>
    <kendo-grid-column field="discontinued" title="In Stock" [width]="100">
      <ng-template kendoGridCellTemplate>
        <span class="k-badge k-badge-solid k-badge-solid-error k-badge-md k-rounded-md k-badge-inline">
          Not Available
        </span>
      </ng-template>
    </kendo-grid-column>
  </kendo-grid>
</div>
