body {
    /* background-image: url('assets/240_F_588119127_ai0xZYPNgiPvEebGlR19I0O90qF2SILQ.jpg'); */


    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    margin: 0;
  }
  
  .container {
    max-width: 400px;
    margin: 50px auto;
    padding: 30px;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  }
    