.centered-text {
    text-align: center; /* Centers the text horizontally */
    color: #007bff;     /* Set your desired color here (e.g., blue) */
    font-size: 2rem;     /* You can adjust the size as needed */
  }
  .flyer-content {
  font-size: 14px;
  line-height: 1.8;
}
.side-panel {
  position: fixed;
  top: 0;
  right: 0;
  width: 500px;
  height: 100%; 
  background-color: #fff;
  border-left: 1px solid #ccc;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.3);
  z-index: 1050;
  padding: 16px;
  overflow-y: auto;
  transition: transform 0.3s ease-in-out;
}

.panel-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
