<h1 class="centered-text">InCell Edit Grid</h1>
<button class="btn btn-success m-2 " (click)="navigateToWelcomePage()">← BACK</button>
<button class="btn btn-danger m-2" (click)="OnLogout()">LogOut</button>

<div *ngIf="loading" class="loader-container " style="text-align: center;padding: 50px;">
  <kendo-loader [type]="loaderType" [size]="'large'" [themeColor]="'primary'" ></kendo-loader>
</div>

<div *ngIf="!loading">
<kendo-grid
  [data]="gridview"
  [pageSize]="state.take"
  [skip]="state.skip"
  [pageable]="true"
  [sortable]="true"
  [sort]="state.sort"

  [filterable]="true"
  [filter]="state.filter"

  [groupable]="true"
  [group]="state.group"
  (dataStateChange)="dataStateChange($event)"

  (save)="saveHandler($event)"

  (cellClick)="cellClickHandler($event)"
  (cellClose)="cellCloseHandler($event)"
  (remove)="removeHandler($event)"
  (add)="addHandler($event)"
  (cancel)="cancelHandler($event)"
  (editable)="{ mode: 'incell' }"
[navigatable]="true"
  [height]="500"
>
<ng-template kendoGridToolbarTemplate>
  <button kendoGridAddCommand  [primary]="true">Add New  </button>
  <button kendoGridExcelCommand [svgIcon]="fileExcelIcon"> Export To Excel</button>
  <button kendoGridPDFCommand [svgIcon]="filePdfIcon"> Export To Pdf</button>
  </ng-template>
  


<kendo-grid-column title="Sr. No." [width]="10" >
    <ng-template kendoGridCellTemplate let-rowIndex="rowIndex">
      {{ skip + rowIndex + 1 }}
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column field="id" Title="Id In DB" [width]="10" filter="numeric"> 
    
  
  </kendo-grid-column>

  <kendo-grid-column field="firstName" title="First Name" [width]="20">
    <ng-template kendoGridFilterCellTemplate let-filter let-column="column">
          <kendo-grid-string-filter-cell
            [column]="column"
            [filter]="filter"
            operator="startswith"
          >
            <kendo-filter-startswith-operator></kendo-filter-startswith-operator>
            <kendo-filter-eq-operator></kendo-filter-eq-operator>
          </kendo-grid-string-filter-cell>
        </ng-template>

  </kendo-grid-column>

  <kendo-grid-column field="surName" title="Surname" [width]="20"></kendo-grid-column>

  <kendo-grid-column field="dob" title="DOB"  filter= "date"   format="MM/dd/yyyy" editor="date" [width]="20">
    <ng-template kendoGridCellTemplate let-dataItem >
        {{ dataItem.dob | date: 'MM/dd/yyyy' }}
     </ng-template> 
     <ng-template kendoGridFilterCellTemplate let-filter let-column="column">
      <kendo-grid-date-filter-cell
        [column]="column"
        [filter]="filter"
        operator="eq"
      >
      </kendo-grid-date-filter-cell>
    </ng-template>
  </kendo-grid-column>

  <kendo-grid-column field="gender" title="Gender" [width]="20" >

  </kendo-grid-column>
  
  

  <kendo-grid-column field="emialId" title="EmailId" [width]="20" [filterable]="false" ></kendo-grid-column>
  <kendo-grid-column field="userName" title="UserName" [width]="20" [filterable]="false"></kendo-grid-column>
  <kendo-grid-column field="passWord" title="PassWord" [width]="20" [filterable]="false"></kendo-grid-column>
  <kendo-grid-column field="hobbyId" title="Hobbies" [width]="20">
  
  </kendo-grid-column>


  <kendo-grid-pdf
  fileName="UserList.pdf"
  [allPages]="true"
  paperSize="A4"
  [repeatHeaders]="true"
  [landscape]="true"
>
  <kendo-grid-pdf-margin
    top="2cm"
    left="1cm"
    right="1cm"
    bottom="2cm"
  ></kendo-grid-pdf-margin>
  <ng-template
    kendoGridPDFTemplate
    let-pageNum="pageNum"
    let-totalPages="totalPages"
  >
    <div class="page-template">
      <div class="header">
        <div style="float: right">
          Page {{ pageNum }} of {{ totalPages }}
        </div>
        Multi-page grid with automatic page breaking
      </div>
      <div class="footer">Page {{ pageNum }} of {{ totalPages }}</div>
    </div>
  </ng-template>
</kendo-grid-pdf>

<kendo-grid-excel fileName="UserList.xlsx"></kendo-grid-excel>

<kendo-grid-command-column title="Command" [width]="20">
  <ng-template kendoGridCellTemplate let-isNew="isNew" let-formGroup="formGroup">
    <button kendoGridRemoveCommand>Remove</button>
    <button kendoGridSaveCommand 
        [disabled]="formGroup?.invalid || formGroup?.pristine" 
        [primary]="true">
  Save
</button>

    <button kendoGridCancelCommand>Cancel</button>
  </ng-template>
</kendo-grid-command-column>
<kendo-grid-column title="Action" [width]="20">
  <ng-template kendoGridCellTemplate let-dataItem="dataItem">
    <button class="btn btn-success" (click)="showflyer(dataItem)">Details</button>
  </ng-template>

</kendo-grid-column>

  
  
  <ng-template kendoPagerTemplate let-totalPages="totalPages" let-currentPage="currentPage">
    <kendo-pager-prev-buttons></kendo-pager-prev-buttons>
    <kendo-pager-numeric-buttons [buttonCount]="buttonCount">
 </kendo-pager-numeric-buttons>
 <kendo-pager-next-buttons></kendo-pager-next-buttons>
 <kendo-pager-input></kendo-pager-input>
 <kendo-pager-info></kendo-pager-info>
<kendo-pager-page-sizes [pageSizes]="sizes"></kendo-pager-page-sizes>
  </ng-template>
  
</kendo-grid>
<kendo-dialog *ngIf="itemToRemove" title="Please confirm" (close)="confirmRemove(false)">
  <p style="margin: 30px; text-align: center;">
    Are you sure you want to delete user {{ itemToRemove.firstName }} {{ itemToRemove.surName }}?
  </p>
  <kendo-dialog-actions>
    <button kendoButton (click)="confirmRemove(false)">No</button>
    <button
      kendoButton
      themeColor="primary"
      (click)="confirmRemove(true)"
      
    >
      Yes
    </button>
  </kendo-dialog-actions>
</kendo-dialog>

<div class="side-panel" *ngIf="selecteduser">
  <div class="panel-header">
    <h3>User Details</h3>
     <button class="btn btn-danger"  (click)="openEditDialog(selecteduser)">Edit</button>
    <button class="btn btn-success"(click)="closeFlyer()">Back</button>
  
  </div>
  <div class="flyer-content">
<img [src]="selecteduser.profilImage" width="100" height="100" alt="User Image">

    <p><strong>First Name:</strong> {{ selecteduser.firstName }}</p>
    <p><strong>Sur Name:</strong> {{ selecteduser.surName }}</p>
    <p><strong>DOB:</strong> {{ selecteduser.dob | date: 'mediumDate' }}</p>
    <p><strong>Gender:</strong> {{ selecteduser.gender }}</p>
    <p><strong>Email:</strong> {{ selecteduser.emialId }}</p>
    <p><strong>User Name:</strong> {{ selecteduser.userName }}</p>
    <p><strong>Hobbies:</strong> {{ getHobbyNames(selecteduser.hobbyId) }}</p>
  </div>
</div>
<kendo-dialog *ngIf="showEditDialog" title="Edit User Information" (close)="closeDialog()">
 <div style="max-height: 80vh; overflow-y: auto;">
    <app-user-form [user]="userToEdit" (formSubmitted)="handleFormSubmitted()" (userUpdated)="updateUserData($event)"  (deleteUSer)="handleUserDeleted($event)"></app-user-form>
  </div>

</kendo-dialog>

</div>


   
   
   
   
   
   
   
   
   
   
   
   <!-- (sortChange)="onSortChange($event)"
(filterChange)="onFilterChange($event)"
(groupChange)="onGroupChange($event)" 
(pageChange)="onPageChange($event)" -->
   
   
   <!-- <kendo-grid
    [data]="gridview"
    [pageSize]="pageSize"
    [skip]="skip"
    [pageable]="true"
    [sortable]="true"
    [filterable]="true"
    [groupable]="true"
    [height]="420"
    (pageChange)="onPageChange($event)"
    >
    <kendo-grid-column field="CompanyName" [width]="140"></kendo-grid-column>
    <kendo-grid-column field="ContactName" [width]="120"></kendo-grid-column>
    <kendo-grid-column field="City" [width]="100"></kendo-grid-column>
    <kendo-grid-column field="ContactTitle" [width]="130"></kendo-grid-column>
    </kendo-grid> -->

    <!--
    Buit in DataBindingDirective
    <kendo-grid
        [kendoGridBinding]="gridData"
        [sortable]="true"
        [filterable]="true"
        [groupable]="true"
    >
        <kendo-grid-column field="CompanyName"></kendo-grid-column>
        <kendo-grid-column field="ContactName"></kendo-grid-column>
    </kendo-grid> -->