<h2>Welcome!</h2>
<h2> {{ this.FirstName  }} {{ this.SurName  }}</h2>
<div class="d-flex gap-2">
    <button class="btn btn-success" (click)="OnuserForm()">AddUser</button>
    <button class="btn btn-success" (click)="OnQuestion()">Questions</button>
    <button class="btn btn-success" (click)="OnQuestionOption()">Questions With Options</button>
    <button class="btn btn-success" (click)="treeViewCrudOperation()">TreeView Crud Operation</button>
    <button class="btn btn-success "(click)="treeViewDragAndDrop()">TreeView Drag And Drop Operation</button>
    <button class="btn btn-success" (click)="treeViewCheckBox()">TreeView CheckBox</button>
    <button class="btn btn-success" (click)="treeViewContextMenu()">ContextMenu</button>
</div>
