<h2 class="centered-text">Welcome!</h2><h2 class="centered-text"> {{ this.FirstName  }} {{ this.SurName  }}</h2>


<div class="m-3">
    <button class="btn btn-danger ms-2" (click)="OnLogout()" type="button">Logout</button>
</div>
<div class="d-flex gap-2 ms-2">
    <button class="btn btn-success" (click)="OnuserForm()">AddUser</button>
    <button class="btn btn-success" (click)="OnQuestion()">Questions</button>
    <button class="btn btn-success" (click)="OnQuestionOption()">Questions With Options</button>
    <button class="btn btn-success" (click)="treeViewCrudOperation()">TreeView Crud Operation</button>
    <button class="btn btn-success "(click)="treeViewDragAndDrop()">TreeView Drag And Drop Operation</button>
    <button class="btn btn-success" (click)="treeViewCheckBox()">TreeView CheckBox</button>

    <button class="btn btn-success" (click)="KendoGridDataBinding()">Incell Editing In Grid</button>
    <button class="btn btn-success" (click)="KendoGridBuitInBinding()"> Inline Editing </button>
    <button class="btn btn-success" (click)="kendoGridExternalEditing()">Inline Edit On Row Click</button>
    <button class="btn btn-success" (click)="KendoGridRowReorder()">RowReordering in Grid</button>
    <button class="btn btn-success" (click)="kendoGridDragDrop()">Drag And Drop Between two Grids</button>
    <button class="btn btn-success" (click)="gridWithRadioButton()">Radio Button In Grid</button>
    <button class="btn btn-success" (click)="ChartIntegration()">Chart Integration</button>
</div>


