<p class="centered-text">TreeView Drag And Drop</p>
<button class="btn btn-success m-2 " (click)="navigateToWelcomePage()">← BACK</button>

<div style="display: flex; gap: 20px;">

<div >
<kendo-treeview
#listA
[dropZoneTreeViews]="[listB]"
[nodes]="treeData1"
textField="name"
idField="id"
parentIdField="parentId"
kendoTreeViewFlatDataBinding
kendoTreeViewExpandable
kendoTreeViewDragAndDrop
kendoTreeViewDragAndDropEditing
(nodeDrop)="onNodeDrop($event)"
(nodeDragStart)="onNodeDragStart($event)"
>
<ng-template
kendoTreeViewDragClueTemplate
let-action="action"
let-text="text"



>
[{{getActionText(action)}}]:{{text}}  
  
</ng-template>
<ng-template
kendoTreeViewDropHintTemplate>
<div class="drop-hint"> </div>

</ng-template>
</kendo-treeview>
</div>


<kendo-treeview 
#listB
[dropZoneTreeViews]="[listA]"
[nodes]="treeData2"
textField="name"
idField="id"
parentIdField="parentId"
kendoTreeViewFlatDataBinding
kendoTreeViewExpandable
kendoTreeViewDragAndDrop
kendoTreeViewDragAndDropEditing
(nodeDrop)="onNodeDrop($event)"
(nodeDragStart)="onNodeDragStart($event)"

>
<ng-template
kendoTreeViewDragClueTemplate
let-action="action"
let-text="text"



>
[{{getActionText(action)}}]:{{text}}  
  
</ng-template>
<ng-template
kendoTreeViewDropHintTemplate>
<div class="drop-hint"> </div>

</ng-template>
    
</kendo-treeview>


</div>
<button class="btn btn-danger ms-2" (click)="OnLogout()">Logout</button>