<p class="centered-text">Kendo CheckBox</p>
<button class="btn btn-success m-2 " (click)="navigateToWelcomePage()">← BACK</button>

<div class="example-config" >
    cheked keys: {{chekedKeys.join(',')}}
</div>
<kendo-treeview
[nodes]="checkBoxTree"
textField="name"
idField="id"
parentIdField="parentId"
kendoTreeViewFlatDataBinding
kendoTreeViewExpandable
kendoTreeViewCheckable="{ mode: 'multiple' }"
[(checkedKeys)]="chekedKeys"
kendoTreeViewLoadMore
[pageSize]="2"
[checkBy]="key"
[size]="selectedComponentSize"
(checkedChange)="oncheckedChange($event)"

>
<kendo-treeview-messages loadMore="Display More Items">
    
</kendo-treeview-messages>
</kendo-treeview>
<button class="btn btn-danger ms-2" (click)="OnLogout()">Logout</button>
<!-- [checkedKeys]="chekedKeys" --> 